* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    flex-wrap: wrap;

}

.blue {
    background-color: #00bfff;
    width: 67%;
    height: 20vh;
    text-align: center;
    line-height: 20vh;
    order: 2;
}

.green {
    background-color: #98fb98;
    width: 33%;
    height: 80vh;
    text-align: center;
    line-height: 80vh;
    order: 1;
}

.yellow {
    background-color: #ffff99;
    width: 34%;
    height: 60vh;
    text-align: center;
    line-height: 60vh;
    order: 3;
    position: absolute;
    top: 20%;
    left: 33%;
}

.pink {
    background-color: #dda0dd;
    width: 33%;
    height: 80vh;
    text-align: center;
    line-height: 80vh;
    order: 4;
    position: absolute;
    top: 20%;
    left: 67%;
}

.orange {
    background-color: #ffe4b5;
    width: 67%;
    height: 20vh;
    text-align: center;
    line-height: 20vh;
    order: 5;
}

.btn {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #203154;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
